@charset "utf-8";

body 	{
	
		background-color:#A3DE83;
		font-family:Verdana;
		font-size:18px;
	
	}
.general {
		height:auto;
		}
img {
	width:300px;
	}
	
.cabecera 	{
		background-color:#239D60;
		border-radius: 6px;
		border:solid;
		border-color:#000;
		margin-top:10px;
		}
		
h1		{
		text-align:center;
		font-family:Verdana;
		font-size:30px;
		color:#000;
		}

h2		{
		text-align:center;
		font-family:Verdana;
		font-size:24px;
		color:#000;
		}
		
.banner	{ 
		border:solid;
		display:block;
		margin:auto;
		border-radius: 6px;
		}
		
.pie	{
		background-color:#F7F39A;
		border-radius: 6px;
		border:solid;
		border-color:#000;
		margin-top:10px;
		}
	
p 		{
		font-family:Verdana;
		font-size:10px;
		color:#000;
		margin-left:20px;
		}
		
/* Popup */		
.instrucciones {
		font-family:Verdana;
		font-size:10px;
		color:#000;
		display:none;
		}
		
.popupdiv {
		text-align:center;
		font-family:Verdana;
		display:none;
		}
		
/* Contenedor Popup */
.popup {
    	position: relative;
   		display: inline-block;
    	cursor: pointer;
		display:none;
		}

/* Popup aparece en la parte superior */
.popup .popuptexto {
    	visibility: hidden;
    	width:200px;
    	background-color:#A3DE83;
    	text-align: center;
    	border-radius: 6px;
    	position: absolute;
		margin-left:-110px;
    	z-index: 1;
    	bottom: 125%;
		display:none;
		}

/* Popup flecha */
.popup .popuptexto::after {
    	content: "";
    	position: absolute;
   	 	margin-left: -5px;
    	border-width: 10px;
    	border-style: solid;
    	border-color: #000 transparent transparent transparent;
		display:none;
		}

/* Muestra el popup */
.popup .mostrar {
    	visibility: visible;
    	-webkit-animation: fadeIn 1s;
    	animation: fadeIn 1s;
		border:3px solid #000;
		display:none;
}

/* Transparencia Popup */
@-webkit-keyframes fadeIn {
    	from {opacity: 0;} 
    	to {opacity: 1;}
}

@keyframes fadeIn {
    	from {opacity: 0;}
    	to {opacity:1 ;}
}
	
/* Estilos para el formulario */
input[type=text] {
  		border: 1px solid #239D60;
 		border-radius: 3px;
		text-align:center;
		widht:25%;
		margin-bottom:10px;
		margin-left:20px;
    	box-sizing: border-box;
		}

.select {
  		position: relative;
  		border: 2px solid #000;
  		width: 300px;
  		height:40px;
  		overflow: hidden;
  		background-color:#A3DE83;
  		margin-left:25px;
  		border-radius:3px;
  		margin-bottom:140px;
		}
.select:before {
   	 	content: '';
    	position: absolute;
    	right: 5px;
    	top: 12px;
    	width: 0;
    	height: 0;
    	border-style: solid;
    	border-width: 7px 5px 0 5px;
    	border-color: #000000 transparent transparent transparent;
    	z-index: 5;
    	pointer-events: none;
  		}
.select select {
   		padding: 5px 8px;
    	width: 130%;
    	border: none;
    	box-shadow: none;
  		background-color:#A3DE83;
    	background-image: none;
    	appearance: none;
  		}
  
.selectin {
 		position: relative;
  		border: 1px solid #ccc;
  		width: 300px;
  		overflow: hidden;
  		background-color:#A3DE83;
  		font-family:Verdana;
  		font-size:14px;
  		border-radius:3px;
		}

.checkbox {
		width: auto;
		height: auto;
		margin-left:25px;
		position: relative;
		border-radius: 3px;
		
}

.textocheckbox {
		font-size:14px;
		font-family:Verdana;
		display: inline-block;
		margin-left:15px;
		margin-top:10px;
		margin-bottom:10px;
		}

.smultiple1 {
 		border: 2px solid #fff;
		width:300px;
		height:71px;
 		border-radius: 5px;
 		background:#A3DE83;
		margin-left:20px;
		margin-top:10px;
		margin-bottom:10px;
		border-color:#000;
		}
			
.smultiple2 {
 		border: 2px solid #fff;
 		width:300px;
 		height:105px;
		border-color:#000;
 		border-radius: 5px;
 		background:#A3DE83;
 		margin-left:20px;
		margin-top:10px;
		margin-bottom:10px;
		}
		
.preguntastext {
		background-color:#239D60;
		border-radius:6px;
		border:solid;
		border-color:#000;
		margin-top:10px;
		}
		
input[type=submit] {
 		font-family:Verdana;
		font-size:18px;
		color:#000;
		border: 2px solid;
		border-color:#000;
		border-radius:10px;
		background-color:#A3DE83;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:10px;
		}
	
.enviartexto {
		margin-left:25px;
		margin-bottom:10px;
		background-color:#A3DE83;
		border-bottom-color:#000;
		border-radius:3px;
		border:2px;
		border-style:solid;
		height:30px;
		}
	
.bloquetexto {
		float:left;
		margin-left:25px;
		background-color:#A3DE83;
		border-bottom-color:#000;
		border-radius:3px;
		border:2px;
		border-style:solid;
		border-top-color:#000;
		height:30px;
		font-size:18px;
		}
	
.leyenda {
		text-align:left;
		font-family:Verdana;
		font-size:20px;
		color:#0269C5;
		}
	
.radiopcion {
		text-align:left;
		font-family:Verdana;
		font-size:14px;
		color:#000;
		margin-left:20px;
		}

.pregunta {
		font-family:Verdana;
		font-size:18px;
		color:#000;
		margin-left:20px;
		margin-bottom:10px;
		}
		
.boton {
		font-family:Verdana;
		font-size:18px;
		color:#000;
		margin-left:20px;
		margin-bottom:10px;
		margin-top:10px;
		border: 2px solid;
		border-color:#000;
		border-radius:10px;
		background-color:#A3DE83;
		}

.botonreset {
		font-family:Verdana;
		font-size:18px;
		color:#000;
		margin-left:20px;
		margin-bottom:10px;
		margin-top:10px;
		border: 2px solid;
		border-color:#000;
		border-radius:10px;
		background-color:#239D60;
		}

/*Estilos para la tabla de resultados corregidos*/
		
table {
		border:none;
		margin:0 auto;
    	border-radius:10px;
		height:auto;
		width:auto;
		}

th {
	font-size:18px;
	border: 3px solid #000;
	border-radius:10px;
	background-color:#F7F39A;
		}

td {
		border: 3px solid #000;
		border-radius:10px;
		background-color:#A3DE83;
		}

td .correcta {
		border:3px solid #000;
		border-radius:10px;
		}

td .opciones_text{
		border:3px solid #000;
		border-radius:10px;
		}

.titulo {
		padding: 5px;
		}

span, .correcta {
		color:#000;
		font-family:Verdana;
		font-size:18px;
		padding-left:5px;
		padding-right:5px;
		}

#resultados {
		background-color: #239D60;
		border: 3px solid #000;
		margin-top: 10px;
		border-radius:10px;
		}

.info 	{
		background-color:#239D60;
		border-radius: 6px;
		border:solid;
		border-color:#000;
		margin-top:10px;
		text-align:center;
		margin-bottom:10px;
		}

.margininfo 	{
		margin-left:10px;
		}
/*Estilos del temporizador*/	
.temporizador {
	font-family:Verdana;
	font-size:30px;
	color:#F00;
	text-align:center;
	background-color:#F7F39A;
	border-radius:6px;
	border:solid;
	border-color:#000;
	margin-top:10px;
		}
